flows.json
[
    {
        "id": "6480037844fbd1ae",
        "type": "tab",
        "label": "Flow 8",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "845bc85e04db2ec1",
        "type": "mqtt in",
        "z": "6480037844fbd1ae",
        "name": "",
        "topic": "iotfrontier/humidity",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "acbe441d0dc39b6a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 120,
        "wires": [
            [
                "5e167d338a2c3600",
                "734d802c72dd1a4b",
                "65795cc3b78f5331",
                "c4dc880508e46bc2"
            ]
        ]
    },
    {
        "id": "5e167d338a2c3600",
        "type": "debug",
        "z": "6480037844fbd1ae",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 60,
        "wires": []
    },
    {
        "id": "734d802c72dd1a4b",
        "type": "ui_gauge",
        "z": "6480037844fbd1ae",
        "name": "",
        "group": "1cd93796c98e5a31",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Humidity Real-Time Values",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#0cbdd4",
            "#0058e6",
            "#0732df"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 440,
        "y": 120,
        "wires": []
    },
    {
        "id": "65795cc3b78f5331",
        "type": "ui_chart",
        "z": "6480037844fbd1ae",
        "name": "",
        "group": "1cd93796c98e5a31",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Humididty Trend Graph",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 430,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "8dbcb44312b7cc33",
        "type": "mqtt in",
        "z": "6480037844fbd1ae",
        "name": "",
        "topic": "iotfrontier/temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "acbe441d0dc39b6a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 480,
        "wires": [
            [
                "6781c03912acc306",
                "ae15a860ba12a869",
                "2147cfad6783c371",
                "9c985ccea2df86bf"
            ]
        ]
    },
    {
        "id": "6781c03912acc306",
        "type": "debug",
        "z": "6480037844fbd1ae",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 340,
        "wires": []
    },
    {
        "id": "ae15a860ba12a869",
        "type": "ui_gauge",
        "z": "6480037844fbd1ae",
        "name": "",
        "group": "d4a07c5cac41537e",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature Real-Time Values",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#fbff00",
            "#ffa200",
            "#ed0707"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 430,
        "y": 420,
        "wires": []
    },
    {
        "id": "2147cfad6783c371",
        "type": "ui_chart",
        "z": "6480037844fbd1ae",
        "name": "",
        "group": "d4a07c5cac41537e",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Temperature Trend Graph",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 410,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "c4dc880508e46bc2",
        "type": "influxdb out",
        "z": "6480037844fbd1ae",
        "influxdb": "1f5c795b48eef607",
        "name": "Influx Cloud",
        "measurement": "humidity",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "org",
        "bucket": "iotbucket",
        "x": 370,
        "y": 240,
        "wires": []
    },
    {
        "id": "9c985ccea2df86bf",
        "type": "influxdb out",
        "z": "6480037844fbd1ae",
        "influxdb": "4197bb3d692b3edd",
        "name": "Influx Cloud",
        "measurement": "temperature",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "org",
        "bucket": "iotbucket",
        "x": 390,
        "y": 580,
        "wires": []
    },
    {
        "id": "0ea26c3f9f724999",
        "type": "mqtt out",
        "z": "6480037844fbd1ae",
        "name": "",
        "topic": "iotfrontier/ledControl",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6ec4dcef.913b24",
        "x": 860,
        "y": 120,
        "wires": []
    },
    {
        "id": "10cdf90544649281",
        "type": "ui_button",
        "z": "6480037844fbd1ae",
        "name": "",
        "group": "117b5b2a0176eef7",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "On",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 650,
        "y": 80,
        "wires": [
            [
                "0ea26c3f9f724999"
            ]
        ]
    },
    {
        "id": "35a47d9f47e4a114",
        "type": "ui_button",
        "z": "6480037844fbd1ae",
        "name": "",
        "group": "117b5b2a0176eef7",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Off",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "2",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 650,
        "y": 160,
        "wires": [
            [
                "0ea26c3f9f724999"
            ]
        ]
    },
    {
        "id": "d885fae72eb6a416",
        "type": "mqtt in",
        "z": "6480037844fbd1ae",
        "name": "",
        "topic": "iotfrontier/waterlevel",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6ec4dcef.913b24",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 590,
        "y": 300,
        "wires": [
            [
                "c02c93c638b68978",
                "516c0bda95b64e50",
                "5f1f68ad39d1876f",
                "5204685357db2221",
                "dd7a8591b02b2528"
            ]
        ]
    },
    {
        "id": "c02c93c638b68978",
        "type": "ui_gauge",
        "z": "6480037844fbd1ae",
        "name": "",
        "group": "117b5b2a0176eef7",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Water Level",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "2000",
        "colors": [
            "#34e6fe",
            "#00b0bd",
            "#0140fe"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 830,
        "y": 300,
        "wires": []
    },
    {
        "id": "516c0bda95b64e50",
        "type": "ui_chart",
        "z": "6480037844fbd1ae",
        "name": "",
        "group": "117b5b2a0176eef7",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Water Level Trend Graph",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 850,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "5f1f68ad39d1876f",
        "type": "debug",
        "z": "6480037844fbd1ae",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 240,
        "wires": []
    },
    {
        "id": "5204685357db2221",
        "type": "influxdb out",
        "z": "6480037844fbd1ae",
        "influxdb": "1d09a99e500533de",
        "name": "Influx Cloud",
        "measurement": "waterlevel",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "org",
        "bucket": "iotbucket",
        "x": 830,
        "y": 420,
        "wires": []
    },
    {
        "id": "dd7a8591b02b2528",
        "type": "switch",
        "z": "6480037844fbd1ae",
        "name": "Threshold logic",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "1500",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 840,
        "y": 480,
        "wires": [
            [
                "facba5affe661238"
            ]
        ]
    },
    {
        "id": "facba5affe661238",
        "type": "function",
        "z": "6480037844fbd1ae",
        "name": "Notification function",
        "func": "let date = new Date();\nlet timestamp = date.toISOString();\n\nmsg.topic = \"🚨⚠️ Water Level Alert ‼️\";\nmsg.payload = `🚰 Warning: Water level has reached ${msg.payload} units.\\n🕒 Timestamp: ${timestamp}`;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 580,
        "wires": [
            [
                "274ecf12a8f8149e"
            ]
        ]
    },
    {
        "id": "274ecf12a8f8149e",
        "type": "ui_toast",
        "z": "6480037844fbd1ae",
        "position": "top left",
        "displayTime": "10",
        "highlight": "yellow",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "Cancel",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1110,
        "y": 580,
        "wires": []
    },
    {
        "id": "5909e454eacd168a",
        "type": "ui_colour_picker",
        "z": "6480037844fbd1ae",
        "name": "",
        "label": "",
        "group": "8554be7691a7d45e",
        "format": "rgb",
        "outformat": "string",
        "showSwatch": true,
        "showPicker": false,
        "showValue": false,
        "showHue": false,
        "showAlpha": false,
        "showLightness": true,
        "square": "false",
        "dynOutput": "false",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 170,
        "y": 720,
        "wires": [
            [
                "2b2b32958cafc7b4",
                "9181a8909c3ed15e"
            ]
        ]
    },
    {
        "id": "2b2b32958cafc7b4",
        "type": "mqtt out",
        "z": "6480037844fbd1ae",
        "name": "",
        "topic": "iotfrontier/color",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6ec4dcef.913b24",
        "x": 520,
        "y": 660,
        "wires": []
    },
    {
        "id": "9181a8909c3ed15e",
        "type": "debug",
        "z": "6480037844fbd1ae",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 780,
        "wires": []
    },
    {
        "id": "07583e9280284f8d",
        "type": "mqtt in",
        "z": "6480037844fbd1ae",
        "name": "",
        "topic": "iotfrontier/temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "b3b87119698ea131",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 1000,
        "wires": [
            [
                "b538d751b7a2aa1a"
            ]
        ]
    },
    {
        "id": "0cd0869ba5219eec",
        "type": "mqtt in",
        "z": "6480037844fbd1ae",
        "name": "",
        "topic": "iotfrontier/humidity",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7511515302bdae10",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 1060,
        "wires": [
            [
                "b538d751b7a2aa1a"
            ]
        ]
    },
    {
        "id": "54aff40354183e1a",
        "type": "mqtt in",
        "z": "6480037844fbd1ae",
        "name": "",
        "topic": "iotfrontier/waterlevel",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "b3b87119698ea131",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 1120,
        "wires": [
            [
                "b538d751b7a2aa1a"
            ]
        ]
    },
    {
        "id": "b538d751b7a2aa1a",
        "type": "join",
        "z": "6480037844fbd1ae",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": true,
        "accumulate": true,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 530,
        "y": 1040,
        "wires": [
            [
                "ca2395cc1c4b9319"
            ]
        ]
    },
    {
        "id": "ca2395cc1c4b9319",
        "type": "function",
        "z": "6480037844fbd1ae",
        "name": "function 3",
        "func": "msg.payload = {\n  series: [\"Temperature\", \"Humidity\", \"Water Level\"],\n  data: [\n    [msg.payload[\"iotfrontier/temperature\"]],\n    [msg.payload[\"iotfrontier/humidity\"]],\n    [msg.payload[\"iotfrontier/waterlevel\"]]\n  ],\n  labels: [new Date().toLocaleTimeString()]\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "a84b42a76cc4c9b5",
        "type": "ui_spacer",
        "z": "6480037844fbd1ae",
        "name": "spacer",
        "group": "1cd93796c98e5a31",
        "order": 2,
        "width": 7,
        "height": 1
    },
    {
        "id": "939515874a84b269",
        "type": "ui_spacer",
        "z": "6480037844fbd1ae",
        "name": "spacer",
        "group": "d4a07c5cac41537e",
        "order": 2,
        "width": 7,
        "height": 1
    },
    {
        "id": "acbe441d0dc39b6a",
        "type": "mqtt-broker",
        "name": "test.mosquitto.org",
        "broker": "test.mosquitto.org",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "1cd93796c98e5a31",
        "type": "ui_group",
        "name": "Humidity",
        "tab": "3d339fe23014d791",
        "order": 1,
        "disp": true,
        "width": 7,
        "collapse": false,
        "className": ""
    },
    {
        "id": "d4a07c5cac41537e",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "3d339fe23014d791",
        "order": 2,
        "disp": true,
        "width": 7,
        "collapse": false,
        "className": ""
    },
    {
        "id": "1f5c795b48eef607",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": 8086,
        "protocol": "http",
        "database": "database",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "https://us-east-1-1.aws.cloud2.influxdata.com/",
        "timeout": 10,
        "rejectUnauthorized": true
    },
    {
        "id": "4197bb3d692b3edd",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": 8086,
        "protocol": "http",
        "database": "database",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "https://us-east-1-1.aws.cloud2.influxdata.com/",
        "timeout": 10,
        "rejectUnauthorized": true
    },
    {
        "id": "6ec4dcef.913b24",
        "type": "mqtt-broker",
        "name": "test.mosquitto.org",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "15",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "117b5b2a0176eef7",
        "type": "ui_group",
        "name": "Water Level",
        "tab": "3d339fe23014d791",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "1d09a99e500533de",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": 8086,
        "protocol": "http",
        "database": "database",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "https://us-east-1-1.aws.cloud2.influxdata.com/",
        "timeout": 10,
        "rejectUnauthorized": true
    },
    {
        "id": "8554be7691a7d45e",
        "type": "ui_group",
        "name": "Automation",
        "tab": "3d339fe23014d791",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "b3b87119698ea131",
        "type": "mqtt-broker",
        "name": "test.mosquitto.org",
        "broker": "test.mosquitto.org",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "7511515302bdae10",
        "type": "mqtt-broker",
        "name": "test.mosquitto.org",
        "broker": "test.mosquitto.org",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "3d339fe23014d791",
        "type": "ui_tab",
        "name": "Smart Environmental Monitoring 🌿",
        "icon": "fa-leaf",
        "disabled": false,
        "hidden": false
    }
]